* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: #141527;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
  "header header header"
  "menu articles articles";
  height: 100vh;
  overflow: scroll;
}


.header {
  align-items: center;
  border: 2px solid #ffae01;
  color: #ffae01;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 1% 10% 1% 2%;
}

.menu {
  display: flex;
  flex-direction: column;
  grid-area: menu;
  margin: .5rem .5rem 0 .5rem;
}
